// Colors
$bg-color: hsl(255,250,236);
$dot-color: rgb(210, 209, 212);

// Dimensions
$dot-size: 1px;
$dot-space: 2px;

div#home{
	background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}