/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
	color: #222;
	font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

// Fonts
@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Bold-webfont.woff);
	font-style: normal;
	font-weight: bold;
}
  
@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Italic-webfont.woff);
	font-style: italic;
	font-weight: normal;
}
  
@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Regular-webfont.woff);
	font-style: normal;
	font-weight: normal;
}
  
@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Light-webfont.woff);
	font-style: normal;
	font-weight: lighter;
}

@mixin scale($scale-args...) {
  -webkit-transform: scale($scale-args);
      -ms-transform: scale($scale-args); // IE9 only
          transform: scale($scale-args);
}

@mixin dotted-background( $bg-color, $dot-color, $dot-space, $dot-size ){
  background:
  linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
  linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
  $dot-color;
  background-size: $dot-space $dot-space;
}

body{
  position: relative;
  font-family: "Open Sans", Georgia, serif;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #5b5c5e;
	text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
	resize: vertical;
}

.table{
  display: table;
  margin-bottom: 0;  // Correction of a margin that causes a gap between two sections of the site
  height: 100%;
  width: 100%;
}

.table-cell{
  display: table-cell;
  vertical-align: middle;
}

.section-header {
	text-align: center;
	padding: 60px 0;
}

