#portofolio{
  // background-color: white;
  @include dotted-background($dot-color-home, $bg-color-home, $dot_space, $dot_size);
  padding-bottom: 80px;
}

.project-block {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  border-radius: 3px;
  margin-bottom: 30px;
  overflow: hidden;
  background: #fff;
  padding: 5px;
}

.project-screenshot {
  background: gray;
  height: 350px;
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  border: 1px solid #eee;
  .overlay {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.2;
    @include transition(opacity 0.1s);
    background: rgba(0,0,0,0);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 34%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0)), color-stop(34%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 34%, rgba(0,0,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 34%, rgba(0,0,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 34%, rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 34%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
  }
  i {
    position: absolute;
    bottom: -25px;
    right: 15px;
    font-size: 20px;
    color: #fff;
    @include transition(bottom 0.1s);
    z-index: 1;
  }
  img {
    min-height: 100%;
    min-width: 300px;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    position: absolute;
    top: 0;
    left: 0;
    @include transition(transform 0.2s ease-out);
  }
  &:hover {
    .overlay { opacity: 0.3; }
    i { bottom: 15px; }
    img {
      @include scale(1.02);
    }
  }
}
.project-details {
  padding: 20px;
  padding-bottom: 10px;
  h3 { 
    margin-top: 0;
    a {
      color: #333;
    }
  }
}
.tag-filtered {
  opacity: 0.2;
  @include transition(opacity 0.2s);
  &.visible { opacity: 1; }
}
.project-tags {
  margin-top: 15px;
  .tag {
    display: inline-block;
    padding: 3px 5px;
    background: adjust-saturation(tint($secondary_color, 75%), 25%);
    border-radius: 2px;
    font-size: 12px;
    margin: 2px 2px 2px 0;
    color: $secondary_color;
    cursor: pointer;
    &:hover {
      background: adjust-saturation(tint($secondary_color, 85%), 25%);
    }
    &.active {
      color: shade($tertiary_color, 20%);
      background: tint($tertiary_color, 50%);
    }
  }
}