// Variables

// Background-colors for homepage
$bg-color-home: hsl(255,250,236);
$dot-color-home: rgb(210, 209, 212);

// Dimensions for background
$dot-size: 1px;
$dot-space: 2px;

// Background-colors for portofolio page
