---
title: Gregory Devant - Full Stack Developer
---

<div id="home" class="table">
  <div class="table-cell">
    <div class="container">
      <div class="row">
        <div id="home-inner">
          <div class="col-md-3 home-snap">
            <div class="snap-wrapper">
              <img src="./img/padoramix.png" alt="My face">
            </div>
          </div>
          <div class="col-md-9 home-text">
            <h1>Je m'appelle Grégory Devant.<br />
              Je suis <strong>développeur full stack</strong> et <strong>amoureux de la nature</strong>.</h1>
            <div class="menu-home">
              <ul>
                <li><a class="smooth-scroll" href="#presentation">Présentation</a></li>
                <li><a class="smooth-scroll" href="#technologies">Technologies</a></li>
                <li><a class="smooth-scroll" href="#realisations">Réalisations</a></li>
                <li><a class="smooth-scroll" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a id="start-arrow" class="smooth-scroll" href="#portfolio"><i class="icon-down-open"></i></a>
</div>

